/* Základní styly */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
STYLY
-------------------------------------------------
Nadpis Piškvorky je fontem Lobster
Gradient z fialové  #615dad do růžové  #ffc8da;
Barva textu  #ffffff.
Podkladová tmavě modrá  #283e50.
Tlačítko PRAVIDLA  #1fcca4. A po najetí myši  #1cbb96.
Tlačítko ZAČÍT HRÁT  #0197f6. Po najetí  #0090e9
--------------------------------------------------
*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  min-height: 100vh;
}

/*-----------------Společné styly----------------*/
main {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  margin-top: 1.4rem;
}

.title {
  font-family: 'Lobster';
  font-size: 2.2rem;
  margin: 0;
}

/*------CONTAINER FLEXBOX-----*/
.container {
  display: flex;
}

.container--column {
  flex-direction: column;
  gap: 1rem;
}

.container--space-between {
  justify-content: space-between;
  align-items: center;
}

/*------BUTTON ------*/
.button--green {
  background-color: #1fcca4;
}

.button--blue {
  background-color: #0197f6;
}

/*----- BUTTON HOVER-------*/
.button--green:hover {
  background-color: #1cbb96;
}

.button--blue:hover {
  background-color: #0090e9;
}

/*--------------------- MAIN CARD------------------ */
.main-card {
  max-width: 70%;
  line-height: 1.4;
  background-color: #283e50;
}

@media (min-width: 540px) {
  .main-card {
    width: 390px;
  }
}

/*-------MAIN CARD Picture--------*/

.main-card__picture img {
  width: 100%;
}

/*------Společný border, aby se nepřekrývali------- */
.main-card,
.main-card__picture img {
  border-radius: 6px 6px 0 0;
}

/*------ MAIN CARD Description-------*/
.main-card__info {
  padding: 0 1.5rem;
}

/*------ MAIN CARD Button------*/

.main-card__button {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-top: 0.1rem;
  padding: 1rem 0;
}


/*----------------------GAME CARD -----------------------------*/
.game-card {
  max-width: 80vmin;
}

/*------GAME CARD NAV----*/
.game-card__nav {
  margin-bottom: 1rem;
}

.game-card__player {
  filter: brightness(0) invert(1);
}

/*----- GAME CARD status-----*/
.game-card__status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.game-card__title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}


/*------GAME CARD ICONS ------*/
.game-card__button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
}

/*----- GAME CARD BOX  -----*/
.game-card__field {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.game-card__box {
  border: 1px solid #000000;
  background: rgba(255, 255, 255, 0.4);
  padding: 0;
  width: calc(80vmin / 10);
  height: calc(80vmin / 10)
}

.game-card__box:hover,
.game-card__box:focus {
  cursor: pointer;
  opacity: 0.6;
}

/*---------Přidání circle a cross---------*/
@keyframes animatedBackground {
  0% {
    background-size: 0%;
  }

  25% {
    background-size: 25%;
  }

  50% {
    background-size: 50%;
  }

  75% {
    background-size: 75%;
  }

  100% {
    background-size: 100%;
  }
}

.game-card__box--circle {
  background-image: url("images/circle.svg");
}

.game-card__box--cross {
  background-image: url("images/cross.svg");
}

.game-card__box--circle,
.game-card__box--cross {
  background-repeat: no-repeat;
  background-size: 6vmin;
  background-position: center;
  animation: animatedBackground 0.30s;
}

.game-card__box--circle:hover,
.game-card__box--circle:focus,
.game-card__box--cross:hover,
.game-card__box--cross:focus {
  opacity: 1;
}
