/* Základní styly */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
STYLY
-------------------------------------------------
Nadpis Piškvorky je fontem Lobster
Gradient z fialové  #615dad do růžové  #ffc8da;
Barva textu  #ffffff.
Podkladová tmavě modrá  #283e50.
Tlačítko PRAVIDLA  #1fcca4. A po najetí myši  #1cbb96.
Tlačítko ZAČÍT HRÁT  #0197f6. Po najetí  #0090e9
--------------------------------------------------
*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100vh;
}

/*-----------------Společné styly----------------*/
.main {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
}

.main__title {
  font-family: 'Lobster';
  font-size: 3rem;
  margin: 0;
}

.main__title--margin {
  margin-bottom: 1rem;
}

/*------CONTAINER FLEXBOX-----*/
.container {
  display: flex;
}

.container--column {
  flex-direction: column;
  gap: 1rem;
}

.container--space-between {
  justify-content: space-between;
  align-items: center;
}

/*------BUTTON ------*/
.button--green {
  background-color: #1fcca4;
}

.button--blue {
  background-color: #0197f6;
}

/*----- BUTTON HOVER-------*/
.button--green:hover {
  background-color: #1cbb96;
}

.button--blue:hover {
  background-color: #0090e9;
}

/*--------------------- MAIN CARD------------------ */
.main-card {
  max-width: 70%;
  line-height: 1.4;
  background-color: #283e50;
}

@media (min-width: 540px) {
  .main-card {
    width: 390px;
  }
}

/*-------MAIN CARD Picture--------*/

.main-card__picture img {
  width: 100%;
}

/*------Společný border, aby se nepřekrývali------- */
.main-card,
.main-card__picture img {
  border-radius: 6px 6px 0 0;
}

/*------ MAIN CARD Description-------*/
.main-card__info {
  padding: 0 1.5rem;
}

/*------ MAIN CARD Button------*/

.main-card__button {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-top: 0.1rem;
  padding: 1rem 0;
}


/*----------------------GAME CARD -----------------------------*/
.game-card {
  max-width: 80vmin;
}

/*------GAME CARD NAV----*/
.game-card__nav {
  margin-bottom: 1rem;
}

.game-card__player {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

/*----- GAME CARD CIRCLE-----*/
.game-card__player::after {
  content: "";
  position: absolute;
  left: 4rem;
  width: 1em;
  height: 1em;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

/*------GAME CARD ICONS ------*/
.game-card__button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
}

/*----- GAME CARD BOX  -----*/
.game-card__box {
  border: 1.5px solid #000000;
  opacity: 0.5;
  padding: 0;
  width: calc(80vmin / 10);
  height: calc(80vmin / 10)
}

.game-card__box:hover {
  cursor: pointer;
  opacity: 0.8;
}
