/* Základní styly */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
STYLY
-------------------------------------------------
Nadpis Piškvorky je fontem Lobster
Gradient z fialové  #615dad do růžové  #ffc8da;
Barva textu  #ffffff.
Podkladová tmavě modrá  #283e50.
Tlačítko PRAVIDLA  #1fcca4. A po najetí myši  #1cbb96.
Tlačítko ZAČÍT HRÁT  #0197f6. Po najetí  #0090e9
--------------------------------------------------
*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100vh;
}

/*-----------------Společné styly----------------*/
main {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  margin-top: 5rem;
}

.container {
  display: flex;
}

.main__title {
  font-family: 'Lobster';
  font-size: 3rem;
  margin: 0;
}

.main__title--margin {
  margin-bottom: 1rem;
}

/*------BUTTON ------*/
.button--green {
  background-color: #1fcca4;
}

.button--blue {
  background-color: #0197f6;
}

/* Button hover */
.button--green:hover {
  background-color: #1cbb96;
}

.button--blue:hover {
  background-color: #0090e9;
}

/* Main card */
.main-card {
  max-width: 70%;
  line-height: 1.4;
  background-color: #283e50;
}

@media (min-width: 540px) {
  .main-card {
    width: 390px;
  }
}

.container--column {
  flex-direction: column;
  gap: 1rem;
}

/* Picture*/
/* Zamezení mezery mezi obr a popiskem flexboxem */
.main-card__picture {
  display: flex;
}

.main-card__picture img {
  width: 100%;
}

/* Společný border, aby se nepřekrývali */
.main-card,
.main-card__picture img {
  border-radius: 6px 6px 0 0;
}

/* Description */
.main-card__info {
  padding: 0 1.5rem;
}

/* Button */
.main-card__buttons {
  display: flex;
  flex-flow: column wrap;
  gap: 0.1rem;
}

.main-card__button {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem 0;
}


/*----------------------STYLY HRA.HTML-----------------------------*/
.game-card {
  max-width: 80vmin;
}

.container--space-between {
  justify-content: space-between;
}

.game-card__player {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.game-card__player::after {
  content: "";
  position: absolute;
  left: 4rem;
  width: 1em;
  height: 1em;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.game-card__button {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
}
